<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.vadik.knigopis">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/common.title.app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="allowBackup,label">

        <activity
            android:name=".MainActivity"
            android:label="@string/common.title.app"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="www.knigopis.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <activity android:name=".BookActivity"/>

        <activity
            android:name=".user.UserActivity"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ProfileAppTheme" />

        <activity
            android:name="ru.ulogin.sdk.UloginAuthActivity"
            android:configChanges="orientation|screenSize"/>

    </application>

</manifest>